.button-alternative {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2aab6d;
  border-radius: 4px;
}
