@import "../variables";

.comment__date {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: @text-color;
}

.comment__like {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: @main-color;
}
