.copyright {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.copyright__link {
  display: flex;
  align-items: center;
  width: 27px;
  height: 34px;
  margin-left: 15px;

  color: @main-color;

  &:hover {
    color: @text-color;
  }

  &:active {
    color: fade(@text-color, 30%);
  }
}
