.features__text-list {
  padding-top: 110px;

  background: #f2f2f2 url("../../img/bg-triangle-white.svg") no-repeat top center;

  &::after {
    display: block;
    width: 157px;
    height: 320px;
    margin-top: -15px;

    content: "";

    background: url("../../img/iphone-screen-mobile@1x.png") no-repeat center;
    background-position-y: 43px;
  }
}
