.navigation-list__link {
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
