.page-header {
  z-index: 100;

  background-color: #283645;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo,
.page-header__toggle {
  padding: 22px 0 18px;
}

.page-header__logo {
  color: #ffffff;

  &:hover {
    color: @main-color;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;

    position: absolute;

    background-color: fade(#000000, 20%);
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    padding: 27px 0 43px;
  }
}
