.page-contacts {
  padding-top: 44px;
}

.page-contacts__title {
  text-align: center;
}

.page-contacts__contacts {
  margin-top: 33px;
  margin-bottom: 36px;
}

.page-contacts__link {
  color: @main-color;
  text-decoration: none;

  &:hover {
    color: @text-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba(@text-color, 30%);
    text-decoration: none;
  }
}

.page-contacts__map-wrapper {
  position: relative;

  background: url("../img/icon-map-marker.svg") no-repeat center 58%,
    url("../img/bg-map-mobile@1x.png") no-repeat center 100%;
  background-size: 36px 36px, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    content: "";

    background: url("../img/bg-triangle-white-footer.svg") no-repeat top center;
    background-size: contain;
    pointer-events: none;
  }
}

.page-contacts__map {
  display: block;
  width: 100%;
  border: none;
}

@media (min-width: @tablet-width) {
  .page-contacts__container {
    max-width: @tablet-width;
    margin-right: auto;
    margin-left: auto;
  }

  .page-contacts__title {
    margin-bottom: 44px;
  }

  .page-contacts__contacts {
    margin-bottom: 18px;
  }

  .page-contacts__link {
    font-size: 24px;
    line-height: 29px;
  }

  .page-contacts__map-wrapper {
    background: url("../img/icon-map-marker.svg") no-repeat center 58%,
      url("../img/bg-map-tablet@1x.jpg") no-repeat center 74%;
    background-size: 36px 36px, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .page-contacts__map {
    height: 373px;
  }
}

@media (min-width: @desktop-width) {
  .page-contacts {
    padding-top: 65px;
  }

  .page-contacts__container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .page-contacts__contacts {
    margin-bottom: 0;
  }

  .page-contacts__title {
    margin-bottom: 56px;
  }

  .page-contacts__map-wrapper {
    background: url("../img/icon-map-marker.svg") no-repeat center 57%,
      url("../img/bg-map-desktop@1x.jpg") no-repeat center 58%;
    background-size: 36px 36px, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .page-contacts__map {
    height: 505px;
  }
}
