.photo-list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .photo-list__item {
    display: flex;
    width: 50%;
    padding: 0 10px;
  }
}

@media (min-width: @desktop-width) {
  .photo-list__item {
    width: calc(100% / 3);

    &--panorama {
      width: 100%;
    }
  }
}
