.photo-object {
  margin: 0 0 21px;

  position: relative;
}

.photo-object__link {
  display: block;
}

.photo-object__photo {
  display: block;
  width: 100%;
}

.photo-object__label {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: @tablet-width) {
  .photo-object {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
  }

  .photo-object__label {
    margin-top: 56px;
  }

  .photo-object__description {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .photo-object {
    margin-bottom: 55px;
  }
}
