.radio-block {
  .check-block-style();
}

.radio-block__control {
  .check-control-style();
}

.radio-block__control:checked ~ .radio-block__label::before {
  background: radial-gradient(circle at center, #d22856 33%, #ffffff 38%);
}

.radio-block__control:focus ~ .radio-block__label::before {
  box-shadow: 0 0 0 2px rgb(125, 173, 217);
}

.radio-block__label {
  .check-label-style();

  &::before {
    border-radius: 50%;
  }
}
