.special-feature {
  display: none;
}

@media (min-width: @tablet-width) {
  .special-feature {
    display: block;
    padding: 50px 0 52px;

    background-color: #ffffff;
  }

  .special-feature__container {
    position: relative;

    &::before {
      width: 202px;
      height: 202px;
      border: 13px solid @main-color;

      position: absolute;
      top: 18px;
      right: calc(50% + 90px);
      z-index: 1;

      content: "24";
      font-weight: bold;
      font-size: 96px;
      line-height: 167px;
      color: @main-color;
      text-align: center;

      border-radius: 50%;
    }

    &::after {
      width: 238px;
      height: 276px;

      position: absolute;
      top: -37px;
      right: calc(50% + 72px);
      z-index: 0;

      content: "";

      background: url("../img/icon-timer.svg") no-repeat center;
      background-size: 100%;
    }
  }

  .special-feature__title {
    margin-top: 43px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .special-feature__link {
    display: block;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 36px;
    color: @main-color;

    &:hover {
      color: @text-color;
      text-decoration: underline;
    }

    &:active {
      color: rgba(@text-color, 30%);
      text-decoration: none;
    }
  }

  .special-feature__text {
    margin-bottom: 4px;
  }

  .special-feature__text,
  .special-feature__title,
  .special-feature__link {
    max-width: 50%;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .special-feature {
    padding-top: 52px;
    padding-bottom: 112px;

    background-color: #f2f2f2;
  }

  .special-feature__container {
    &::before {
      width: 253px;
      height: 253px;
      border-width: 16px;

      top: -22px;
      left: 32px;

      font-size: 120px;
      line-height: 208px;
    }

    &::after {
      width: 298px;
      height: 345px;

      top: -91px;
      left: 10px;
    }
  }

  .special-feature__title {
    margin-bottom: 21px;

    br {
      display: none;
    }
  }

  .special-feature__text {
    margin-bottom: 31px;
  }

  .special-feature__link {
    font-size: 18px;
    line-height: 30px;
  }

  .special-feature__text,
  .special-feature__title,
  .special-feature__link {
    max-width: 574px;
    margin-left: auto;
  }
}
