.table {
  border-collapse: collapse;
}

.table__row {
  background-color: #ffffff;
}

.table__cell {
  padding: 14px 18px 14px 21px;
  border: 2px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .table__cell {
    padding: 6px 12px 8px 16px;
  }
}

@media (min-width: @desktop-width) {
  .table__cell {
    padding: 12px 18px 16px 22px;
  }
}
