.tariffs {
  padding-top: 126px;

  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat top center;
}

.tariffs__head-cell {
  padding-top: 22px;
  padding-bottom: 22px;

  position: relative;

  text-align: center;

  background-color: #283645;
}

.tariffs__hit {
  width: 74px;
  height: 74px;

  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  transform: rotate(-45deg);

  &::before {
    width: 74px;
    height: 74px;

    position: absolute;
    top: -7px;
    left: 0;
    z-index: -1;

    content: "";

    background: #283645 url("../img/bg-hit.svg") no-repeat center;
    transform: rotate(45deg);
  }
}

.tariffs__name {
  margin-bottom: 5px;

  text-transform: uppercase;
}

.tariffs__price {
  margin-bottom: 0;

  text-transform: uppercase;
  font-weight: normal;
}

.tariffs__option {
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  text-transform: uppercase;
}

.tariffs__availability {
  margin: 0;

  &--type {
    &--available {
      width: 31px;
      height: 31px;

      background: url("../img/icon-yes.svg") no-repeat center;
      background-size: 100%;
    }

    &--unavailable {
      width: 27px;
      height: 27px;

      background: url("../img/icon-no.svg") no-repeat center;
    }
  }
}
